# Ignore Python noise
*.pyo
*.pyc

# Ignore IDE settings
.idea
*~

# Ignore Vagrant stuff
.vagrant/*
Vagrantfile

# Ignore build-directories for documentation
docs/_build
docs/ref

# Ignore stuff related to building and publishing the package
dist/*
build/*
*.egg-info

# Ignore testing output
.coverage
.tox

# dev_no_debug.py imports local.py and disables Django-debugging
cleanerversion/settings/dev_no_debug.py
